In [39]:
import pandas as pd
from sqlalchemy import create_engine

# Defino la ruta del archivo CSV
csv_file_path = r"C:\Users\USER\Downloads\dataset\Urban Air Quality and Health Impact Dataset.csv"

# Cargo el dataset
df = pd.read_csv(csv_file_path)

# Parámetros de conexión
user = 'postgres'
password = '1234'
host = 'localhost'  
port = '5432'       
database = 'postgres'

# Creo la cadena de conexión
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')

# Cargo el DataFrame a la base de datos
df.to_sql('nombre_tabla', engine, if_exists='replace', index=False)  # Cambia 'nombre_tabla' 
print("Datos cargados exitosamente a la base de datos.")

Datos cargados exitosamente a la base de datos.

In [40]:
# 1. Obtengo todos los registros
all_data = pd.read_sql("SELECT * FROM nombre_tabla", engine)
print(all_data)

       datetime  datetimeEpoch     tempmax    tempmin       temp  \
0    2024-09-07   1.725692e+09  106.100000  91.000000  98.500000
1    2024-09-08   1.725779e+09  103.900000  87.000000  95.400000
2    2024-09-09   1.725865e+09  105.000000  83.900000  94.700000
3    2024-09-10   1.725952e+09  106.100000  81.200000  93.900000
4    2024-09-11   1.726038e+09  106.100000  82.100000  94.000000
..          ...            ...         ...        ...        ...
995  2024-09-18   1.726633e+09   76.060546  64.359387  69.002142
996  2024-09-17   1.726550e+09   68.409198  65.939319  66.567410
997  2024-09-12   1.726122e+09   69.756690  65.286919  65.919492
998  2024-09-14   1.726284e+09   77.106797  61.481724  68.106569
999  2024-09-18   1.726618e+09   90.923080  79.296868  81.636991

     feelslikemax  feelslikemin  feelslike        dew   humidity  ...  \
0      104.000000     88.100000  95.900000  51.500000  21.000000  ...
1      100.500000     84.700000  92.300000  48.700000  21.500000  ...
2       99.900000     81.600000  90.600000  41.700000  16.900000  ...
3      100.600000     79.500000  89.800000  39.100000  15.700000  ...
4      101.000000     80.000000  90.000000  40.100000  15.900000  ...
..            ...           ...        ...        ...        ...  ...
995     77.673823     63.510920  67.003338  59.936776  73.189130  ...
996     68.956722     64.805635  65.992526  59.010257  74.137401  ...
997     68.158536     63.662942  67.313322  62.024442  84.650482  ...
998     76.426959     60.901526  68.094309  63.169608  86.860261  ...
999     94.180423     78.071851  84.987113  73.393045  74.734715  ...

             City  Temp_Range  Heat_Index Severity_Score  Condition_Code  \
0         Phoenix   15.100000   95.918703       4.430000             NaN
1         Phoenix   16.900000   92.281316       3.880000             0.0
2         Phoenix   21.100000   90.599165       3.630000             0.0
3         Phoenix   24.900000   89.638811       2.851200             0.0
4         Phoenix   24.000000   89.760414       3.390800             0.0
..            ...         ...         ...            ...             ...
995  Philadelphia   12.886665   71.837558       1.957318             NaN
996     San Diego    2.613629   72.463491       2.537413             0.0
997     San Diego    4.598936   67.560060       3.595470             NaN
998   Los Angeles   15.477717   67.930437       3.498942             0.0
999       Houston   11.017871   86.802712       3.040020             0.0

     Month  Season  Day_of_Week  Is_Weekend  Health_Risk_Score
0      9.0    Fall     Saturday        True          10.522170
1      9.0    Fall       Sunday        True          10.062332
2      9.0    Fall       Monday       False           9.673387
3      9.0    Fall      Tuesday       False           9.411519
4      9.0    Fall    Wednesday       False           9.515179
..     ...     ...          ...         ...                ...
995    9.0    Fall    Wednesday       False           8.750142
996    9.0    Fall      Tuesday       False           9.118198
997    9.0    Fall     Thursday       False           9.880093
998    9.0    Fall     Saturday        True           9.561602
999    9.0    Fall    Wednesday       False          10.978044

[1000 rows x 46 columns]

In [41]:
# 2. Obtengo registros con temperatura máxima mayor a 100°F
hot_days = pd.read_sql("SELECT * FROM nombre_tabla WHERE tempmax > 100", engine)
print(hot_days)

      datetime  datetimeEpoch     tempmax    tempmin       temp  feelslikemax  \
0   2024-09-07   1.725692e+09  106.100000  91.000000  98.500000    104.000000
1   2024-09-08   1.725779e+09  103.900000  87.000000  95.400000    100.500000
2   2024-09-09   1.725865e+09  105.000000  83.900000  94.700000     99.900000
3   2024-09-10   1.725952e+09  106.100000  81.200000  93.900000    100.600000
4   2024-09-11   1.726038e+09  106.100000  82.100000  94.000000    101.000000
..         ...            ...         ...        ...        ...           ...
74  2024-09-08   1.725810e+09  102.769151  87.318951  95.107769     99.365629
75  2024-09-09   1.725876e+09  104.003776  83.243193  97.109865    101.090371
76  2024-09-17   1.726589e+09  102.556340  87.681657  93.321286     98.415744
77  2024-09-10   1.725977e+09  105.402624  82.106679  95.330343    101.152571
78  2024-09-13   1.726175e+09  101.889047  78.491983  87.953773     99.644005

    feelslikemin  feelslike        dew   humidity  ...     City  Temp_Range  \
0      88.100000  95.900000  51.500000  21.000000  ...  Phoenix   15.100000
1      84.700000  92.300000  48.700000  21.500000  ...  Phoenix   16.900000
2      81.600000  90.600000  41.700000  16.900000  ...  Phoenix   21.100000
3      79.500000  89.800000  39.100000  15.700000  ...  Phoenix   24.900000
4      80.000000  90.000000  40.100000  15.900000  ...  Phoenix   24.000000
..           ...        ...        ...        ...  ...      ...         ...
74     85.239941  92.615786  49.482119  22.159146  ...  Phoenix   17.676721
75     82.268971  91.907238  41.601830  15.478840  ...  Phoenix   20.751380
76     86.507931  92.526897  58.893537  32.239180  ...  Phoenix   14.289562
77     79.614437  89.071008  38.521183  17.713503  ...  Phoenix   25.460930
78     77.610998  85.651400  43.276386  19.788345  ...  Phoenix   23.100771

    Heat_Index Severity_Score  Condition_Code  Month  Season  Day_of_Week  \
0    95.918703       4.430000             NaN    9.0    Fall     Saturday
1    92.281316       3.880000             0.0    9.0    Fall       Sunday
2    90.599165       3.630000             0.0    9.0    Fall       Monday
3    89.638811       2.851200             0.0    9.0    Fall      Tuesday
4    89.760414       3.390800             0.0    9.0    Fall    Wednesday
..         ...            ...             ...    ...     ...          ...
74   92.152609       3.992522             0.0    9.0    Fall       Sunday
75   91.259290       3.682822             0.0    9.0    Fall       Monday
76   90.067120       3.741275             NaN    9.0    Fall      Tuesday
77   90.324939       2.966837             0.0    9.0    Fall      Tuesday
78   84.656186       3.270747             0.0    9.0    Fall       Friday

    Is_Weekend  Health_Risk_Score
0         True          10.522170
1         True          10.062332
2        False           9.673387
3        False           9.411519
4        False           9.515179
..         ...                ...
74        True          10.097162
75       False           9.622442
76       False          10.458003
77       False           9.443491
78       False           9.240452

[79 rows x 46 columns]

In [42]:
# 3. Número de días en cada temporada
season_counts = pd.read_sql("""
   SELECT "Season", COUNT(*) as Count
FROM nombre_tabla
GROUP BY "Season";
""", engine)
print(season_counts)

  Season  count
0   Fall   1000

In [43]:
# 4. Obtengo el promedio de la humedad por ciudad
avg_humidity = pd.read_sql("""
    SELECT "City", AVG(humidity) as Average_Humidity
    FROM nombre_tabla
    GROUP BY "City"
""", engine)
print(avg_humidity)

            City  average_humidity
0        Chicago         52.980994
1        Houston         70.770566
2    San Antonio         59.352298
3    Los Angeles         57.071243
4       San Jose         60.942343
5        Phoenix         20.956228
6         Dallas         56.280617
7  New York City         61.998322
8   Philadelphia         61.878699
9      San Diego         72.003168

In [44]:
# 5. Filtro días de fin de semana con riesgo para la salud mayor a 10
weekend_health_risk = pd.read_sql("""
    SELECT *
    FROM nombre_tabla
    WHERE "Is_Weekend" = TRUE AND "Health_Risk_Score" > 10
""", engine)
print(weekend_health_risk)

       datetime  datetimeEpoch     tempmax    tempmin       temp  \
0    2024-09-07   1.725692e+09  106.100000  91.000000  98.500000
1    2024-09-08   1.725779e+09  103.900000  87.000000  95.400000
2    2024-09-15   1.726384e+09  100.100000  82.100000  92.000000
3    2024-09-07   1.725685e+09   92.000000  73.400000  81.700000
4    2024-09-14   1.726290e+09   92.900000  76.700000  84.400000
..          ...            ...         ...        ...        ...
125  2024-09-07   1.725631e+09   88.230138  70.750230  76.808929
126  2024-09-08   1.725822e+09   84.503260  76.016346  80.997397
127  2024-09-07   1.725715e+09   85.914371  69.609476  76.683118
128  2024-09-15   1.726329e+09   96.272981  76.779528  85.587411
129  2024-09-21   1.726914e+09   95.695752  83.288149  90.238724

     feelslikemax  feelslikemin  feelslike        dew   humidity  ...  \
0      104.000000     88.100000  95.900000  51.500000  21.000000  ...
1      100.500000     84.700000  92.300000  48.700000  21.500000  ...
2      100.600000     81.500000  92.300000  60.300000  35.800000  ...
3       90.300000     73.400000  81.600000  60.300000  51.100000  ...
4       99.900000     76.700000  89.100000  72.600000  69.100000  ...
..            ...           ...        ...        ...        ...  ...
125     91.286837     72.384926  79.494570  65.997973  67.303886  ...
126     90.842442     76.689886  81.511804  64.295111  62.868868  ...
127     83.863955     71.372041  76.728177  54.497608  46.860536  ...
128     97.463700     76.067802  86.101751  62.128097  46.742602  ...
129     95.967472     82.913944  89.463533  62.852326  39.542100  ...

            City  Temp_Range  Heat_Index Severity_Score  Condition_Code  \
0        Phoenix   15.100000   95.918703       4.430000             NaN
1        Phoenix   16.900000   92.281316       3.880000             0.0
2        Phoenix   18.000000   92.167586       3.501200             0.0
3    San Antonio   18.600000   82.603642       4.690000             0.0
4    San Antonio   16.200000   91.041231       2.926300             NaN
..           ...         ...         ...            ...             ...
125      Houston   17.835928   80.360426       5.075392             NaN
126    San Diego   10.282985   82.105885       3.327061             NaN
127       Dallas   15.786394   78.325419       4.605421             0.0
128       Dallas   21.296577   88.053911       2.857323             0.0
129       Dallas   13.451166   88.863222       3.573577             NaN

     Month  Season  Day_of_Week  Is_Weekend  Health_Risk_Score
0      9.0    Fall     Saturday        True          10.522170
1      9.0    Fall       Sunday        True          10.062332
2      9.0    Fall       Sunday        True          10.470188
3      9.0    Fall     Saturday        True          10.656954
4      9.0    Fall     Saturday        True          11.126196
..     ...     ...          ...         ...                ...
125    9.0    Fall     Saturday        True          11.468569
126    9.0    Fall       Sunday        True          10.368005
127    9.0    Fall     Saturday        True          10.210394
128    9.0    Fall       Sunday        True          10.232833
129    9.0    Fall     Saturday        True          10.596044

[130 rows x 46 columns]