# Actividad 1: 

- **Fuente de datos**: [Datos fuente](https://www.datos.gov.co/Educaci-n/MEN_ESTADISTICAS-MATRICULA-POR-MUNICIPIOS_ES/y9ga-zwzy/about_data)
- **Intro**: Elegí este tema porque la educación superior es clave para el desarrollo regional. Analizar estos datos ayuda a entender cómo se distribuyen las oportunidades educativas y apoya la toma de decisiones para mejorar el acceso y la equidad en la educación.
- **Objetivo principal**:

# 0. Librerias

In [38]:
import pandas as pd
archivo_csv = 'C:\\Users\\jb359\\Downloads\\Proyecto DS\\ESTADISTICAS_MATRICULA_POR_MUNICIPIOS.csv'
df = pd.read_csv(archivo_csv)
print(df.head())

    AÑO Código delDepartamento Nombre del Departamento Código delMunicipio  \
0  2005                     11                      11               11001
1  2005                     13                      13               13001
2  2005                     13                      13               13074
3  2005                     13                      13               13188
4  2005                     13                      13               13248

  Nombre del Municipio  TECNICA PROFESIONAL  TECNOLOGICA  UNIVERSITARIA  \
0          BOGOTÁ D.C.                63098      40178.0       279544.0
1  CARTAGENA DE INDIAS                 5902       4348.0        25138.0
2     BARRANCO DE LOBA                   40          0.0            0.0
3               CICUCO                   50          0.0            0.0
4             EL GUAMO                   40          0.0            0.0

   ESPECIALIZACION  MAESTRIA  DOCTORADO  IES CON OFERTA
0          23603.0      7399        492             106
1           1260.0         9          0              33
2              0.0         0          0               1
3              0.0         0          0               1
4              0.0         0          0               1

In [39]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9629 entries, 0 to 9628
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AÑO                      9629 non-null   int64
 1   Código delDepartamento   9629 non-null   object
 2   Nombre del Departamento  9629 non-null   object
 3   Código delMunicipio      9629 non-null   object
 4   Nombre del Municipio     9629 non-null   object
 5   TECNICA PROFESIONAL      9629 non-null   int64
 6   TECNOLOGICA              9629 non-null   float64
 7   UNIVERSITARIA            9629 non-null   float64
 8   ESPECIALIZACION          9629 non-null   float64
 9   MAESTRIA                 9629 non-null   int64
 10  DOCTORADO                9629 non-null   int64
 11  IES CON OFERTA           9629 non-null   int64
dtypes: float64(3), int64(5), object(4)
memory usage: 902.8+ KB
None

In [40]:
print(df.shape)
print(df["AÑO"].value_counts().head(10))
#universitaria se puede cambiar por otras categorias de la tabla

(9629, 12)
AÑO
2012    857
2010    827
2013    827
2011    821
2009    751
2008    702
2007    666
2015    637
2014    618
2019    526
Name: count, dtype: int64